.HyperMD-list-line.HyperMD-list-line-1 {
    padding-left: 10px !important;
  }
  
  .HyperMD-list-line.HyperMD-list-line-2 {
    padding-left: 25px !important;
  }
  
  .HyperMD-list-line.HyperMD-list-line-3 {
    padding-left: 40px !important;
  }
  
  .HyperMD-list-line.HyperMD-list-line-4{
    padding-left: 55px !important;
  }
  
  .HyperMD-list-line.HyperMD-list-line-5 {
    padding-left: 70px !important;
  }
  
  .HyperMD-list-line.HyperMD-list-line-6 {
    padding-left: 85px !important;
  }
  
  .HyperMD-list-line.HyperMD-list-line-7 {
    padding-left: 100px !important;
  }
  
  .HyperMD-list-line.HyperMD-list-line-8{
    padding-left: 115px !important;
  }