.status-bar-item.plugin-backlink.mod-clickable {
    display: none;
}
.status-bar-item.plugin-word-count {
    position:relative;
    right:-4px;
}
.status-bar-item.plugin-editor-status.mod-clickable {
    display:none;
}
